<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center log">
            <h1><i class="fas fa-smile"></i></h1>
            <p>Click <strong>"Fill Database"</strong>, if this first start or <strong>"Login"</strong>, if not!</p>

            <button id="fillDB" class=" sign-in__fill-db">Fill Database</button>

            <a href="/users/login" class=" sing-in__login">Login</a>
        </div>
    </div>
</div>